<ion-list lines="full" mode="ios" inset="true" class="bg-transparent">
  <ion-item-divider>
    <ion-label>
      Cadastros
    </ion-label>
  </ion-item-divider>
  <ion-item detail (click)="onClickRedirect('/expenses')">
    <ion-label>Despesas</ion-label>
  </ion-item>
  <ion-item detail (click)="onClickRedirect('/category')">
    <ion-label>Categorias</ion-label>
  </ion-item>
  <ion-item-divider>
    <ion-label>
      Ações Básicas
    </ion-label>
  </ion-item-divider>
  <ion-item detail (click)="onClickRedirect('/historic')">
    <ion-label>Histórico</ion-label>
  </ion-item>
</ion-list>
