<ion-app>
  <ion-header>
    <ion-toolbar color="dark">
      <ion-title>
        Cadastro de categoria
      </ion-title>
    </ion-toolbar>
  </ion-header>
  <!-- conteudo -->
  <ion-content color="dark">
    <!-- nome da categoria -->
    <ion-row>
      <ion-col size="12">
        <div class="category-input-around">
          <ion-input
            class="category-input"
            [(ngModel)]="category.name"
            type="text"
            placeholder="nome"
          ></ion-input>
        </div>
      </ion-col>
    </ion-row>
    <!-- fim -->
    <!-- cor da categoria -->
    <ion-row>
      <ion-col size="12">
        <div class="category-around" (click)="onClickViewColor()">
          <span>Adicionar cor ...</span>
        </div>
      </ion-col>
    </ion-row>
    <ion-row *ngIf="viewColor" class="category-row-color">
      <ion-list #theList inset="false" lines="full" class="noPadBottom">
        <ion-grid>
          <ion-row class="rowClass">
            <ion-col
              size="2"
              class="colClass"
              *ngFor="let item of colorList; let i = index"
              [style.background]="item.value"
              (click)="selectColor(item)"
            >
            </ion-col>
          </ion-row>
        </ion-grid>
      </ion-list>
    </ion-row>
    <!-- fim -->
    <!-- porcentagem de desconto -->
    <ion-row *ngIf="category.type === 'entrada'">
      <ion-col size="12">
        <div class="category-input-around">
          <span>%</span>
          <ion-input
            class="category-input"
            [(ngModel)]="category.percentage"
            type="tel"
            placeholder="Porcentagem desconto"
          ></ion-input>
        </div>
      </ion-col>
    </ion-row>
    <!-- fim -->
    <ion-row class="ion-text-center">
      <ion-radio-group
        style="margin-left: 30px; margin-top:10px"
        allow-empty-selection="true"
        (ionSelect)="selectBalance($event)"
      >
        <ion-col style="margin-right: 8px" size="6">
          <ion-label style="margin-right: 8px">Entrada</ion-label>
          <ion-radio
            color="light"
            name="balance"
            value="entrada"
            checked
          ></ion-radio>
        </ion-col>
        <ion-col size="6">
          <ion-label style="margin-right: 8px">Saída</ion-label>
          <ion-radio
            color="light"
            name="balance"
            value="saida"
            checked
          ></ion-radio>
        </ion-col>
      </ion-radio-group>
    </ion-row>
    <ion-row class="category-list">
      <ion-col size="12">
        <ion-list mode="ios" inset="true" lines="inset" class="bg-transparent ">
          <ion-item-sliding *ngFor="let category of listCategory">
            <ion-item color="dark">
              <ion-label>{{ category.name }}</ion-label>
            </ion-item>
            <ion-item-options side="end">
              <ion-item-option color="danger" (click)="onClickDelete(category)"
                >excluir</ion-item-option
              >
            </ion-item-options>
            <div class="historic-separator"></div>
          </ion-item-sliding>
        </ion-list>
      </ion-col>
    </ion-row>
  </ion-content>
  <!-- fim -->
  <ion-footer>
    <ion-toolbar color="primary">
      <ion-button
        slot="start"
        shape="round"
        color="success"
        fill="outline"
        (click)="onClickSave()"
      >
        Adicionar
      </ion-button>
      <ion-button
        shape="round"
        [routerLink]="['/home']"
        slot="end"
        color="light"
        fill="outline"
      >
        Cancelar
      </ion-button>
    </ion-toolbar>
  </ion-footer>
</ion-app>
