
.expense-input-around {
  margin: 5px 28px 5px 28px;
}
.expense-input {
  border: 1px solid rgb(21, 33, 45) !important;
  border-radius: 10px !important;
  padding-left: 20px !important;
  font-size: 21px !important;
  font-weight: bold;
  background: rgb(46, 64, 83);
}