<ion-app>
  <ion-header>
    <ion-toolbar color="dark">
      <ion-title>
        Cadastro de categoria
      </ion-title>
    </ion-toolbar>
  </ion-header>
  <!-- conteudo -->
  <ion-content color="dark">
    <!-- nome da categoria -->
    <ion-row>
      <ion-col size="12">
        <div class="expense-input-around">
          <ion-input class="expense-input" [(ngModel)]="category.name" type="text" placeholder="nome"></ion-input>
        </div>
      </ion-col>
    </ion-row>
    <!-- fim -->
    <!-- porcentagem de desconto -->
    <ion-row *ngIf="category.type === 'entrada'">
      <ion-col size="12">
        <div class="expense-input-around">
          <ion-input class="expense-input" [(ngModel)]="category.percentage" type="tel"
            placeholder="Porcentagem desconto"></ion-input>
        </div>
      </ion-col>
    </ion-row>
    <!-- fim -->
    <ion-row class="ion-text-center">
      <ion-radio-group style="margin-left: 30px; margin-top:10px" allow-empty-selection="true"
        (ionSelect)="selectBalance($event)">
        <ion-col style="margin-right: 8px" size="6">
          <ion-label style="margin-right: 8px">Entrada</ion-label>
          <ion-radio color="light" name="balance" value="entrada" checked></ion-radio>
        </ion-col>
        <ion-col size="6">
          <ion-label style="margin-right: 8px">Saída</ion-label>
          <ion-radio color="light" name="balance" value="saida" checked></ion-radio>
        </ion-col>
      </ion-radio-group>
    </ion-row>
  </ion-content>
  <!-- fim -->
  <ion-footer>
    <ion-toolbar color="primary">
      <ion-button slot="start" shape="round" size="large" color="success" fill="outline" (click)="onClickSave()">
        Adicionar
      </ion-button>
      <ion-button size="large" shape="round" [routerLink]="['/home']" slot="end" color="light" fill="outline">
        Cancelar
      </ion-button>
    </ion-toolbar>
  </ion-footer>
</ion-app>