<ion-header no-border>
  <ion-card class="money-card" mode="md">
    <ion-card-header>
      <ion-row>
        <ion-col size="12">
          <div class="home-month-expense">
            <ion-datetime
              class="month-expense"
              [(ngModel)]="monthExpense"
              display-format="MMMM"
              cancelText="cancelar"
              doneText="adicionar"
              (ionChange)="selectMonthExpense($event)"
            ></ion-datetime>
          </div>
          <ion-card-title class="money-title">Saldo Atual</ion-card-title>
        </ion-col>
        <ion-col>
          <ion-button
            (click)="presentPopover($event)"
            class="money-menu"
            size="large"
            color="light"
            fill="clear"
          >
            <ion-icon slot="icon-only" name="more"></ion-icon>
          </ion-button>
        </ion-col>
      </ion-row>
    </ion-card-header>

    <ion-card-content class="content-money">
      <span>{{ saldo | currency: "BRL":"R$":"1.2-2" }}</span>
    </ion-card-content>
  </ion-card>
</ion-header>

<!-- conteudo da home -->
<ion-content color="dark">
  <!-- card de categorias -->
  <ion-card class="money-card-content" mode="md">
    <ion-card-content class="content-money">
      <ion-row>
        <ion-col class="home-category">
          <ion-label class="home-category-title">Categoria</ion-label>
        </ion-col>
      </ion-row>
      <ion-row>
        <ion-col size="6">
          <canvas
            class="home-grafic"
            #doughnutCanvas
            width="500"
            height="550"
          ></canvas>
        </ion-col>
        <ion-col size="6" class="home-category-names">
          <span *ngFor="let expense of dataLocal.groupCategoryValue">
            <div
              class="home-color-category"
              [ngStyle]="{ background: expense.category.color }"
            ></div>
            {{ expense.category.name }}
            {{ expense.category.type == "entrada" ? "(E)" : "" }}
            <b>{{ expense.value | currency: "BRL":"R$":"1.2-2" }}</b>
          </span>
        </ion-col>
      </ion-row>
    </ion-card-content>
  </ion-card>
  <!-- fim -->
  <!-- dizimo devolvido -->
  <!-- card de ultimos lançamentos -->
  <ion-card *ngIf="dizimo" class="money-card-content" mode="md">
    <ion-card-content class="content-money dizimo">
      <ion-row>
        <ion-col>
          <ion-label class="home-title-dizimo">Dízimo</ion-label>
        </ion-col>
      </ion-row>
      <ion-row>
        <ion-col size="12">
          <div class="home-panel-dizimo">
            {{ dizimo | currency: "BRL":"R$":"1.2-2" }}
          </div>
        </ion-col>
      </ion-row>
    </ion-card-content>
  </ion-card>
  <!-- fim -->
  <!-- fim -->
  <!-- card de ultimos lançamentos -->
  <ion-card class="money-card-content" mode="md">
    <ion-card-content class="content-money last-expense">
      <ion-row>
        <ion-col>
          <ion-label class="home-last-expense-title"
            >Últimos lançamentos</ion-label
          >
        </ion-col>
      </ion-row>
      <ion-row>
        <ion-col size="12">
          <div class="list-table">
            <span *ngFor="let expense of dataLocal.lastExpenses"
              >{{ expense.category.name }}
              {{ expense.value | currency: "BRL":"R$":"1.2-2" }}</span
            >
          </div>
        </ion-col>
      </ion-row>
    </ion-card-content>
  </ion-card>
  <!-- fim -->
</ion-content>
