.money-card {
  padding: 0 !important;
  margin: 0 !important;
  min-height: 165px !important;
  border-radius: 0 !important;
  z-index: 0;

  background: rgb(24, 153, 154) !important;
  background: -moz-linear-gradient(
    0deg,
    rgba(24, 153, 154, 1) 0%,
    rgba(29, 94, 177, 1) 98%
  ) !important;
  background: -webkit-linear-gradient(
    0deg,
    rgba(24, 153, 154, 1) 0%,
    rgba(29, 94, 177, 1) 98%
  ) !important;
  background: linear-gradient(
    0deg,
    rgba(24, 153, 154, 1) 0%,
    rgba(29, 94, 177, 1) 98%
  ) !important;
  filter: progid:DXImageTransform.Microsoft.gradient(startColorstr="#18999a",endColorstr="#1d5eb1",GradientType=1) !important;
}

.money-card-content {
  margin-top: 15px;
  background: rgb(46, 64, 83);
}

.money-menu {
  position: absolute;
  right: -13px;
  top: -43px;
}
.money-title {
  text-align: center !important;
  font-size: 18px !important;
  color: #fff !important;
}

.content-money {
  text-align: center !important;
}

.content-money > span {
  font-size: 37px !important;
  color: #fff !important;
}

.home-category {
  display: flex;
  flex-direction: row;
  justify-content: flex-start;
}

.home-category > .home-category-title {
  font-size: 25px;
  color: #fff;
  margin-top: -10px;
}

.home-grafic {
  margin-top: -10px;
  margin-left: -10px;
  
}

.home-category-names {
  display: flex;
  flex-direction: column;

   margin-top: -10px;
}

.home-category-names > span {
  font-size: 14px;
  color: #fff;
}

.home-category-names > span > b {
  font-size: 14px;
  margin-left: 5px;
}